<div th:fragment="searchanddelete">
    <div class="col-3 mt-3">
        <button class="btn btn-lg btn-success" type="submit">
            <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 class="css-13dmvp8">
                <path d="M10.5 17A6.508 6.508 0 0 1 4 10.5C4 6.916 6.916 4 10.5 4S17 6.916 17 10.5 14.084 17 10.5 17zm10.229 2.315-3.56-3.56A8.452 8.452 0 0 0 19 10.5C19 5.813 15.187 2 10.5 2 5.813 2 2 5.813 2 10.5c0 4.687 3.813 8.5 8.5 8.5a8.451 8.451 0 0 0 5.254-1.831l4.197 4.195.634.636H22v-1.414l-1.271-1.271z"
                      fill="currentColor" fill-rule="evenodd">

                </path>
            </svg>
        </button>
    </div>
    <div class="col-3 mt-3">
        <form method="post">
            <button class="btn btn-lg btn-success" type="submit">
                Очистити</font></button>
        </form>
    </div>
</div>